.auth {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
    .img {
      animation: slide-down 0.5s ease;
    }
  
    .form {
      width: 35rem;
      padding: 1.5rem;
      animation: slide-up 0.5s ease;
      h2 {
        color: var(--color-danger);
        text-align: center;
      }
      form {
        input[type="text"],
        input[type="email"],
        input[type="password"]
        {
          display: block;
          font-size: 1.6rem;
          font-weight: 300;
          padding: 1rem;
          margin: 1rem auto;
          width: 100%;
          border: 1px solid #777;
          border-radius:5px;
          outline: none;
        }
        .links {
          display: flex;
          justify-content: space-between;
          margin: 5px 0;
        }
  
        p {
          text-align: center;
          margin: 1rem;
        }
      }
      .register {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
      }
      .password-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
      }
      
      .eyePassword{
        position: absolute;
        right: 3%;
        font-size: 1.5em;
        
      }
      .icon-span{
        cursor: pointer;
      }
      .tracker-box {
        margin-top: 2em;
        opacity: 0;
        pointer-events: none;
        transform: translateY(20px);
        transition: 0.5s ease;
      
        &.show {
          opacity: 1;
          transform: translateY(0);
        }
      }
      .password-box {
        input:focus + .tracker-box {
          @extend .show;
        }
      
        input:not(:focus) + .tracker-box.hide {
          display: none;
        }
      }
      .tracker-box div{
        margin: 5px 0;
        font-size: 1.3em;
      }
      .tracker-box .validated{
        color: #008800;
      }
      .list-icon{
        margin-right: 8px;
      }
      .list-icon .green{
        color: #008800;
      }
     
    }
    
  
    @keyframes slide-up {
      0% {
        transform: translateY(-5rem);
      }
      100% {
        transform: translateY(0);
      }
    }
    @keyframes slide-down {
      0% {
        transform: translateY(5rem);
      }
      100% {
        transform: translateY(0);
      }
    }
  }
  
  @media screen and (max-width: 700px) {
    .img {
      display: none;
    }
  }